<form [formGroup]="formInfoReservation" class="form-container">

  <!--  Informations personnelles-->
  <mat-card class="form-card">
    <mat-card-header class="mb-3">
      <mat-card-title>Informations personnelles</mat-card-title>
    </mat-card-header>

    <div class="form-input-row">
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput name="nom" formControlName="name" type="text">
        <mat-error>Ce champ est requis</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Numéro de téléphone</mat-label>
        <input matInput name="tel" formControlName="tel" type="tel">
        <span matTextPrefix>+33&nbsp;</span>
        <mat-error>{{getFormControlErrorText(formInfoReservation.get('tel'))}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-input-row">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" formControlName="email" type="email">
        <mat-error>{{getFormControlErrorText(formInfoReservation.get('email'))}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Commentaires</mat-label>
        <textarea matInput name="comments" formControlName="comments"></textarea>
      </mat-form-field>
    </div>

  </mat-card>

  <!--  Information reservation-->
  <mat-card class="form-card" [formGroup]="formNbrReservation">


      <mat-card-header class="mb-3">
        <mat-card-title>Informations réservation</mat-card-title>
      </mat-card-header>

    <div class="form-input-row">
      <mat-form-field appearance="fill">
        <mat-label>Adulte(s)</mat-label>
        <input matInput name="nbrAdult" formControlName="nbrAdult" type="number" [min]="0">
        <span matTextPrefix>{{environment.priceAdult}}€ x &nbsp;</span>
        <span matTextSuffix (click)="onClickInfoAdultDialog()">
        <mat-icon>contact_support</mat-icon>
      </span>
      </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Adolescent(s)</mat-label>
      <input matInput name="nbrTeen" formControlName="nbrTeen" type="number" [min]="0">
      <span matTextPrefix>{{environment.priceTeen}}€ x &nbsp;</span>
      <span matTextSuffix (click)="onClickInfoTeenDialog()">
        <mat-icon>contact_support</mat-icon>
      </span>
    </mat-form-field>
    </div>

    <div class="form-input-row">
    <mat-form-field appearance="fill">
      <mat-label>Enfant(s)</mat-label>
      <input matInput name="nbrKid" formControlName="nbrKid" type="number" [min]="0">
      <span matTextPrefix>{{environment.priceKid}}€ x &nbsp;</span>
      <span matTextSuffix (click)="onClickInfoKidDialog()">
        <mat-icon>contact_support</mat-icon>
      </span>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="false">
      <mat-label>Repas</mat-label>
      <input matInput name="nbrMeal" formControlName="nbrMeal" type="number" [min]="0">
      <span matTextPrefix>{{environment.priceMeal}}€ x &nbsp;</span>
      <span matTextSuffix (click)="onClickInfoMealDialog()">
        <mat-icon>contact_support</mat-icon>
      </span>
    </mat-form-field>
    </div>
  </mat-card>

  <!--  Récapitulatif-->
  <mat-card class="form-card">
    <mat-card-header class="mb-3">
      <mat-card-title>Récapitulatif</mat-card-title>
    </mat-card-header>

    <mat-card class="reservation">
      <mat-card-header class="mb-3">
        <mat-card-title>{{ (reservationPreview$ | async)?.name }}</mat-card-title>
        <mat-card-subtitle>
          {{ (reservationPreview$ | async)?.email }}
          -
          {{ ((reservationPreview$ | async)?.tel || '') | phoneNumber}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="nombre-reservation">
        <button type="button" class="btn btn-primary">
          Adultes <span class="badge text-bg-secondary">{{ (reservationPreview$ | async)?.nbrAdult || 0}}</span>
        </button>
        <button type="button" class="btn btn-primary">
          Adolescents <span class="badge text-bg-secondary">{{ (reservationPreview$ | async)?.nbrTeen || 0}}</span>
        </button>
        <button type="button" class="btn btn-primary">
          Enfants <span class="badge text-bg-secondary">{{ (reservationPreview$ | async)?.nbrKid || 0}}</span>
        </button>
        <button type="button" class="btn btn-primary" *ngIf="false">
          Repas <span class="badge text-bg-secondary">{{ (reservationPreview$ | async)?.nbrMeal || 0}}</span>
        </button>
      </mat-card-content>
      <mat-card-actions>
        <h1>
          Total
          <span class="badge bg-danger">{{ amount$ | async | euro}}</span>
        </h1>
      </mat-card-actions>
    </mat-card>
  </mat-card>



  <!--  Payement -->
  <mat-card class="form-card">

    <mat-card-header>
      <mat-card-title>Paiement</mat-card-title>
    </mat-card-header>

    <mat-radio-group aria-label="Select an option" [formControl]="formPaymentPreferenceCtrl">
      <mat-radio-button value="direct">Paiement en CB/Liquide</mat-radio-button>
      <!--<mat-radio-button value="cb">Paiement en CB</mat-radio-button>-->
      <mat-radio-button value="cheque">Paiement par chèque</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="formPaymentPreferenceCtrl.invalid
  && (formPaymentPreferenceCtrl.dirty
  || formPaymentPreferenceCtrl.touched
  || isSubmit)
">Choississez un mode de paiement !</mat-error>

    <mat-card *ngIf="showDirectPayment$ | async">
      <mat-card-header>
        <mat-card-subtitle class="mb-3">
          Paiement CB ou Liquide
        </mat-card-subtitle>
      </mat-card-header>
        <mat-card-content>
          <section>
          <p class="mt-3">Vous pouvez payer tous les mardis de 18h15 à 18h45 en <span class="fw-bold">CB</span> ou en <span class="fw-bold">espèces.</span></p>
          <p>Le paiement se fait au Club HOUSE DU HANDBALL (Entrée dans la cours du Gymnase à côté de la salle des fêtes), 16a rue des Vosges à Hoenheim </p>
          <p>Pour d'autres créneaux voir avec LUC  <a href="tel:+33629332926">06 29 33 29 26</a></p>
          </section>
          <section>
            <mat-checkbox [formControl]="formDirectPaymentAcceptationCtrl">
            <span [ngClass]="{ 'error': formDirectPaymentAcceptationCtrl.invalid && (formDirectPaymentAcceptationCtrl.dirty || formDirectPaymentAcceptationCtrl.touched || isSubmit) }">
              Votre inscription n'est acceptée qu'après avoir été payée, et dans la limite des places disponibles*
            </span>
            </mat-checkbox>
          </section>
        </mat-card-content>
    </mat-card>

<!--
    <mat-card *ngIf="showCBPayment$ | async">
      <mat-card-header>
        <mat-card-subtitle class="mb-3">
          Payement en CB
        </mat-card-subtitle>
      </mat-card-header>
      <img src="assets/img/type_payment_accepted.svg" alt="image des payements acceptés" >
      <mat-card-content>
        A faire !
      </mat-card-content>
    </mat-card>
-->


    <mat-card *ngIf="showChequePayment$ | async">
      <mat-card-header>
        <mat-card-subtitle class="mb-3">
          Paiement par chèque
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>

          <p>Vous pouvez envoyer votre chèque à :</p>
          <p class="text-center fw-bolder">Sébastien Burckhardt </p>
          <p class="text-center fw-bolder">15 avenue du Ried</p>
          <p class="text-center fw-bolder">67800 HOENHEIM</p>
          <div class="alert alert-danger" role="alert">
            Mettre absolument votre nom et numéro de réservation au dos du chèque
          </div>
        </section>
        <section>
          <mat-checkbox [formControl]="formChequePaymentAcceptationCtrl">
            <span [ngClass]="{ 'error': formChequePaymentAcceptationCtrl.invalid && (formChequePaymentAcceptationCtrl.dirty || formChequePaymentAcceptationCtrl.touched || isSubmit) }">
              Votre inscription n'est acceptée qu'après avoir été payée, et dans la limite des places disponibles*
            </span>
          </mat-checkbox>

        </section>
      </mat-card-content>
    </mat-card>

    <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="onSubmitForm()" [disabled]="loading">Réserver</button>
    </mat-card-actions>
    <mat-card-footer *ngIf="loading" >
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

</form>



