<mat-toolbar>
  <span routerLink="/"><img src="/assets/img/logo.png" alt="logo"></span>
  <ul>
    <li><a routerLink="/reservation/reserver">Réserver</a></li>
    <li><a routerLink="/reservation/ma-reservation">Ma réservation</a></li>
  </ul>
  <span class="spacer"></span>
  <div class="d-flex justify-content-center">
  <button (click)="onRedirect('https://www.instagram.com/as_hoenheim_sports')"  mat-icon-button aria-label="Instagram">
    <i class="bi bi-instagram"></i>
  </button>

  <button (click)="onRedirect('https://www.facebook.com/hoenheimhandball')"  mat-icon-button aria-label="Facebook">
    <i class="bi bi-facebook"></i>
  </button>
  </div>
</mat-toolbar>
