<div class="grid"></div>
<div class="lines"></div>
<section class="infos">
  <p>Samedi 1 Juillet 2023</p>
  <p>A partir de 18H30</p>
  <p>Salle des fêtes - 16 rue des Vosges Hoenheim</p>
</section>
<section class="dj">
  <p>DJ Stan de Sax</p>
</section>
<section class="repas">
  <p>Grillades et salades à partir de 19H</p>
</section>
<section class="prix">
  <div class="prix-item">
    <div class="circle">
      <span>{{environment.priceAdult}}€</span>
    </div>
    <p class="price-text">
      <span class="entree">Entrée</span> <span class="boisson">+ 1 boisson</span> (+17ans)
    </p>
  </div>
  <div class="prix-item">
    <div class="circle">
      <span>{{environment.priceTeen}}€</span>
    </div>
    <p class="price-text">pour les 9 - 16 ans</p>
  </div>
  <p class="small-text">Gratuit pour les moins de 9 ans</p>
</section>
<h1>
  <span>80'S</span>
  <span>80'S</span>
</h1>
<h2>Party</h2>
<button mat-raised-button routerLink="/reservation/reserver">Reserver</button>

