<mat-card>
  <mat-card-header>
    <mat-card-title>Repas - Mafé poulet</mat-card-title>
    <mat-card-subtitle>Sur réservation</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Nous vous proposons pour votre repas un Mafé, spécialité africaine, cuisiné par notre chef Marcky Raharisson.</p>
    <p>
      <button mat-mini-fab aria-label="Prix" color="primary">
        {{price}} €
      </button>
      par repas.
    </p>
    <p>Nous vous proposons aussi, hors reservation, des snacks tous au long de la soirée.</p>
  </mat-card-content>
</mat-card>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
